.advantages {
  margin-top: 32px;
}

@media (min-width: @tablet-width) {
  .advantages {
    width: 768px;
  }
}

.advantages__section {
  padding: 0;
  margin-top: 101px;
}

.advantages__sublist {
  background-color: #ffffff;
  color: #000000;
  list-style: none;
  padding: 0;
  height: 416px;
  margin-top: -32px;
}

.advantages__item--large {
  color: #ffffff;
  width: 320px;
  height: 211px;
  background-color: #81b3d2;
  margin-top: 51px;
}

@media (min-width: @tablet-width) {
  .advantages__item--large {
    width: 256px;
    height: 255px;
    position: relative;
    top: -65px
  }
}

.advantages__number {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  position: relative;
  top: 48px;
  margin-left: 135px;
}

@media (min-width: @tablet-width) {
  .advantages__number {
    width: 190px;
    position: relative;
    top: 45px;
    right: 32px;
  }
}

.advantages__number-2 {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  position: relative;
  top: -3px;
  margin-left: 135px;
}

.advantages__image {
  background-color: #ffffff;
}

@media (min-width: @tablet-width) {
  .advantages__image {
    background-image: url("../img/photo-city@1x.jpg");
    background-repeat: no-repeat;
    width: 512px;
    height: 256px;
  }
}

.advantages__image-1 {
  list-style: none;
}

@media (min-width: @tablet-width) {
  .advantages__image-1 {
    position: relative;
    top: -321px;
    left: 256px;
  }
}

.advantages__list {
  background-color: #eeeeee;
  font-family: inherit;
  width: 320px;
  list-style: none;
  padding: 0;
}

.advantages__title {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  top: 55px;
  margin-left: 67px;
}

@media (min-width: @tablet-width) {
  .advantages__title {
    width: 190px;
    position: relative;
    right: 34px;
    top: 54px;
    font-size: 21px;
  }
}

.advantages__subtitle {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin-top: 65px;
  margin-left: 18px;
  width: 284px;
}

@media (min-width: @tablet-width) {
  .advantages__subtitle {
    width: 190px;
    position: relative;
    top: 3px;
    left: 15px;
  }
}

.advantages__subtitle-2 {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin-top: 13px;
  margin-left: 18px;
  width: 284px;
}

.advantages__title-more {
font-family: inherit;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 26px;
text-transform: uppercase;
color: #000000;
  margin-left: 65px;
  margin-top: -2px;
}

.advantages__subtitle-more {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  width: 237px;
  color: #333333;
  margin-left: 65px;
  margin-top: -2px;
}

.advantages__hotel {
  margin-top: 56px;
  margin-left: 65px;
}

.advantages__food {
  margin-top: 52px;
  margin-left: 65px;
}

.advantages__souvenire {
  margin-top: 31px;
  margin-left: 65px;
}

.advantages__item {
  margin-top: -70px;
}

.advantages__title-2 {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  padding-top: 37.5px;
  margin-left: 54px;
  margin-bottom: 0;
  margin-top: 38px;
}

.advantages__vector-1 {
  margin-top: -16px;
  position: absolute;
}

@media (min-width: @tablet-width) {
  .advantages__vector-1 {
    display: none;
  }
}

.advantages__image-2 {
  margin-top: -20px;
}

.advantages__subitem {
  margin-top: -29px;
  height: 115px;
}

.advantages__title-3 {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  margin: 0;
  top: 19px;
  position: relative;
}

.advantages__title-4 {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  margin: 0;
  top: 19px;
  position: relative;
}

.advantages__subtitle-3 {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  width: 246px;
  color: #333333;
  text-align: center;
  margin: 0;
  margin-left: 37px;
  top: 10px;
  position: relative;
}

.advantages__subtitle-4 {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  width: 246px;
  color: #333333;
  text-align: center;
  margin: 0;
  margin-left: 37px;
  top: 10px;
  position: relative;
}

.advantages__item-3 {
  position: relative;
  height: 165px;
  top: 7px;
  margin-top: 1px;
}

.advantages__list-2 {
  background-color: #eeeeee;
  font-family: inherit;
  width: 320px;
  height: 512.5px;
  list-style: none;
  padding: 0;
  margin-top: -9px;
}

.advantages__number-3 {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  position: relative;
  margin-top: 23px;
  top: 7px;
  margin-left: 135px;
}

.advantages__number-4 {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  position: relative;
  margin-top: 23px;
  top: 7px;
  margin-left: 135px;
}

@media (min-width: @tablet-width) {
  .advantages__sublist {
    width: 768px;
    display: flex;
    height: 331px;
    position: relative;
    top: -268px;
  }
}

@media (min-width: @tablet-width) {
  .advantages__subitem {
    width: 256px;
    height: 331px;
  }
}

@media (min-width: @tablet-width) {
  .advantages__hotel {
    width: 190px;
    position: relative;
    top: 103px;
    font-size: 21px;
    left: 29px
  }
}

@media (min-width: @tablet-width) {
  .advantages__food {
    width: 190px;
    position: relative;
    top: 105px;
    font-size: 21px;
    left: 44px;
  }
}

@media (min-width: @tablet-width) {
  .advantages__souvenire {
    width: 190px;
    position: relative;
    top: 123px;
    font-size: 21px;
    left: 11px;
  }
}

@media (min-width: @tablet-width) {
  .advantages__subtitle-hotel {
    width: 190px;
    position: relative;
    top: 107px;
    left: -32px;
    text-align: center;
  }
}

@media (min-width: @tablet-width) {
  .advantages__subtitle-food {
    width: 157px;
    position: relative;
    top: 109px;
    left: -16px;
    text-align: center;
  }
}

@media (min-width: @tablet-width) {
  .advantages__subtitle-souvenire {
    width: 183px;
    position: relative;
    top: 128px;
    left: -30px;
    text-align: center;
  }
}

@media (min-width: @tablet-width) {
  .advantages__image-2 {
    width: 512px;
    height: 256px;
    position: relative;
    background-image: url(../img/photo-bridge@1x.jpg);
    top: -584px;
  }
}

.advantages__item--large-2 {
  color: #ffffff;
  width: 320px;
  height: 211px;
  background-color: #81b3d2;
}

@media (min-width: @tablet-width) {
  .advantages__item--large-2 {
    width: 256px;
    height: 256px;
    position: relative;
    top: -348px;
    left: 512px;
    margin-top: 51px;
  }
}

@media (min-width: @tablet-width) {
  .advantages__list-2 {
    width: 768px;
    height: 256px;
    position: relative;
    display: flex;
    top: -583px;
  }
}

@media (min-width: @tablet-width) {
  .advantages__item-3 {
    width: 256px;
    height: 256px;
  }
}

@media (min-width: @tablet-width) {
  .advantages__title-3 {
    width: 137px;
    position: relative;
    top: 35px;
    left: 59px;
    font-size: 21px;
  }
}

@media (min-width: @tablet-width) {
  .advantages__title-4 {
    width: 137px;
    position: relative;
    top: 46px;
    left: 59px;
    font-size: 21px;
  }
}

@media (min-width: @tablet-width) {
  .advantages__number-4 {
    right: 32px;
    top: 36px;
    position: relative;
    width: 190px;
  }
}

@media (min-width: @tablet-width) {
  .advantages__number-3 {
    width: 190px;
    position: relative;
    top: 25px;
    right: 32px;
  }
}

@media (min-width: @tablet-width) {
  .advantages__subtitle-4 {
    width: 190px;
    position: relative;
    top: 44px;
    right: 4px
  }
}

@media (min-width: @tablet-width) {
  .advantages__subtitle-3 {
    width: 161px;
    position: relative;
    top: 34px;
    right: -11px;
  }
}

@media (min-width: @tablet-width) {
  .advantages__title-2 {
    width: 150px;
    position: relative;
    top: 16px;
    right: 2px;
    font-size: 21px;
  }
}

@media (min-width: @tablet-width) {
  .advantages__number-2 {
    width: 190px;
    position: relative;
    top: 15px;
    right: 32px;
  }
}

@media (min-width: @tablet-width) {
  .advantages__subtitle-2 {
    width: 190px;
    position: relative;
    top: 23px;
    right: -15px;
  }
}


