.advantages {
  margin-top: 32px;
}

.advantages__section {
  padding: 0;
  margin-top: 101px;
}

.advantages__sublist {
  background-color: #ffffff;
  color: #000000;
  list-style: none;
  padding: 0;
  height: 416px;
  margin-top: -32px;
}

.advantages__item--large {
  color: #ffffff;
  width: 320px;
  height: 211px;
  background-color: #81b3d2;
  margin-top: 51px;
}

.advantages__number {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  position: relative;
  top: 48px;
  margin-left: 135px;
}

.advantages__number-2 {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  position: relative;
  top: -3px;
  margin-left: 135px;
}

.advantages__image {
  background-color: #ffffff;
}

.advantages__list {
  background-color: #eeeeee;
  font-family: inherit;
  width: 320px;
  list-style: none;
  padding: 0;
}

.advantages__title {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  top: 55px;
  margin-left: 67px;
}

.advantages__subtitle {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin-top: 65px;
  margin-left: 18px;
  width: 284px;
}

.advantages__subtitle-2 {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin-top: 13px;
  margin-left: 18px;
  width: 284px;
}

.advantages__title-more {
font-family: inherit;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 26px;
text-transform: uppercase;
color: #000000;
  margin-left: 65px;
  margin-top: -2px;
}

.advantages__subtitle-more {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  width: 237px;
  color: #333333;
  margin-left: 65px;
  margin-top: -2px;
}

.advantages__hotel {
  margin-top: 56px;
  margin-left: 65px;
}

.advantages__food {
  margin-top: 52px;
  margin-left: 65px;
}

.advantages__souvenire {
  margin-top: 31px;
  margin-left: 65px;
}

.advantages__item {
  margin-top: -70px;
}

.advantages__title-2 {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  padding-top: 37.5px;
  margin-left: 54px;
  margin-bottom: 0;
  margin-top: 38px;
}

.advantages__vector-1 {
  margin-top: -16px;
  position: absolute;
}

.advantages__image-2 {
  margin-top: -20px;
}

.advantages__subitem {
  margin-top: -29px;
  height: 115px;
}

.advantages__title-3 {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  margin: 0;
  top: 19px;
  position: relative;
}

.advantages__subtitle-3 {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  width: 246px;
  color: #333333;
  text-align: center;
  margin: 0;
  margin-left: 37px;
  top: 10px;
  position: relative;
}

.advantages__item-3 {
  height: 165px;
}

.advantages__list-2 {
  background-color: #eeeeee;
  font-family: inherit;
  width: 320px;
  height: 503px;
  list-style: none;
  padding: 0;
}

.advantages__number-3 {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  position: relative;
  margin-top: 23px;
  top: 7px;
  margin-left: 135px;
}
