.catalog {
  background-color: #ffffff;
  top: -210px;
  position: relative;
  height: 175px;
}

.catalog__title {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  position: relative;
  top: 39px;
}

.catalog__discription {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  text-transform: uppercase;
  color: #333333;
  position: relative;
  text-align: center;
  top: 48px;
  left: 20px;
  width: 280px;
}

@media (min-width: @tablet-width) {
  .catalog {
    width: 768px;
    margin-top: 147px;
  }
}

@media (min-width: @tablet-width) {
  .catalog__title {
    width: 458px;
    font-size: 30px;
    position: relative;
    top: 66px;
    left: 155px;
  }
}

@media (min-width: @tablet-width) {
  .catalog__discription {
    width: 446px;
    position: relative;
    top: 74px;
    left: 161px;
  }
}
