.feedback-form {
  background-color: #ffffff;
}
//name
.feedback-title-name {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  position: relative;
  top: 11px;
}

.feedback-title-more {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  text-transform: uppercase;
  color: #333333;
  position: relative;
  top: 12px;
  left: 36px;
}

.feedback-name {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  color: #000000;
  position: relative;
  top: 10px;
  left: 20px;
}

.feedback-item-name {
  height: 95px;
}

.feedback-group-name {
  height: 310px;
  margin: 0;
  padding: 0;
}

.feedback-input {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border: none;
  height: 55px;
  width: 262px;
  padding-left: 16px;
  padding-top: 2px;
  background: #f2f2f2;
}

//conact
.feedback-title-contact {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  position: relative;
  top: 25px;
}

.feedback-contact {
  height: 278px;
}

.feedback-phone {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  text-transform: uppercase;
  color: #333333;
  text-align: center;
  position: relative;
  top: -5px;
  left: 36px;
}


.feedback-phone-form {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  align-items: center;

  color: rgba(0, 0, 0, 0.3);
}

.feedback-phone-input {
  display: flex;
  flex-direction: row;
  border: none;
  align-items: flex-start;
  background: #f2f2f2;
  height: 56px;
  width: 204px;
  position: relative;
  top: -6.5px;
  left: 20px;
  padding-left: 16px;
}

.feedback-phone-image {
  position: relative;
  left: 242px;
  top: -64.5px;
  padding: 20px 20px;
  background-color: #e6e6e6;
}

//email
.feedback-email {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  text-transform: uppercase;
  color: #333333;
  text-align: center;
  position: relative;
  top: -22px;
  left: 36px;
}

.feedback-email-form {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  align-items: center;

  color: rgba(0, 0, 0, 0.3);
}

.feedback-email-input {
  display: flex;
  flex-direction: row;
  border: none;
  align-items: flex-start;
  background: #f2f2f2;
  height: 56px;
  width: 204px;
  position: relative;
  top: -23.5px;
  left: 20px;
  padding-left: 16px;
}

.feedback-email-image {
  position: relative;
  left: 242px;
  top: -81.5px;
  padding: 23px 21px;
  background-color: #e6e6e6;
}

//impression
.feedback-impression-fieldset {
  border: none;
  height: 205px;
}

.feedback-item-impression {
  margin-top: 11px;
}

.feedback-title-impression {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  position: relative;
  top: 24px;
}

.feedback-list-impression {
  list-style: none;
}

//visited
.feedback-title-visited {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  text-transform: uppercase;

  color: #000000;
}

.feedback-visited-fieldset {
  border: none;
}

.feedback-list-visited {
  list-style: none;
}

.feedback {
  background-color: #ffffff;
  height: 162px;
}

.feedback-title {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  position: relative;
  top: 2px;
}

.feedback-discription {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  text-transform: uppercase;
  color: #333333;
  text-align: center;
  position: relative;
  top: 10px;
}

.feedback-title-emotion {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  position: relative;
  top: -6px;
}

.feedback-item-contact {
  height: 95px;
  padding-top: 17px;
}

.feedback-list-contact {
  margin: 0;
  padding: 0;
}

.feedback-group-contact {
  position: relative;
  top: 13px;
}

.feedback-emotion {
  height: 351px;
}

@media (min-width: @tablet-width) {
  .feedback {
    width: 768px;
    margin-top: 250px;
  }
}
