.interesting {
  background-color: #ffffff;
}

.interesting__title {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  align-items: center;
  text-transform: uppercase;
}

.interesting__discription {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 18px;
  align-items: center;
  text-transform: uppercase;
}

.interesting__button {
  width: 284px;
  height: 58px;
  background-color: #81b3d2;

  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  align-items: center;
  text-transform: uppercase;
  color: #ffffff;
}
