.main-header {
  background-color: #ffffff;
  color: #000000;
  width: 320px;
  position: relative;
  display: flex;
  height: 56px;
}

.main-header__logo {
  height: 96px;
  display: flex;
  left: 67.125px;
  position: relative;
}
