.photo {
  background-color: #ffffff;
  position: relative;
  top: -172px;
}

.photo__link {
  position: relative;
  left: 21px;
  top: 0px;
}


.photo__title {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  position: relative;
  top: 7px;
  left: 20px;
}

.photo__discription {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  position: relative;
  top: -6px;
  left: 20px;
}

.photo__like {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;

  color: #000000;
}

.photo__link-like {
  position: relative;
  top: -4px;
  left: 57px;
}

.photo__list {
  position: relative;
  height: 425px;
  top: 0px;
  left: -1px;
}
