@font-face {
  font-family: "PT sans";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "PT sans";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
  font-display: swap;
}
.visually-hidden {
  display: none;
}
.main-nav {
  position: relative;
  width: auto;
  background: #81b3d2;
  min-height: 223px;
  right: 185px;
}
.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 22.2px;
  height: 22.2px;
  cursor: pointer;
  border: none;
}
.main-nav__wrapper {
  width: 320px;
}
.main-nav--opened .main-nav__toggle {
  top: 0;
  right: auto;
  left: 0;
}
.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 8px;
  width: 22.9px;
  height: 22px;
  background-image: url("../img/icon-menu.svg");
}
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  width: 22.2px;
  height: 22.2px;
  background-color: #81b3d2;
  background-image: url(../img/icon-cross.svg);
}
@media (max-width: 767px) {
  .main-nav--closed .site-list__item {
    display: none;
  }
  .main-nav--closed .site-list__item--active {
    display: block;
  }
  .main-nav--closed .main-nav--opened {
    padding-right: 70px;
    padding-left: 70px;
    text-align: center;
  }
}
.page {
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 17px;
  line-height: 27px;
  font-style: normal;
  background-color: #d4d4d4;
}
.page__body {
  min-height: 100%;
  margin: 0;
  color: #000000;
}
.main-container {
  display: block;
  background-color: #ffffff;
  position: relative;
  width: 320px;
  padding-top: 20px;
}
.main-title {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  color: #000000;
  width: 255px;
  margin-left: 31px;
  display: block;
  text-align: center;
}
.main-discription {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  display: block;
  color: #333333;
  width: 284px;
  text-align: center;
  margin-left: 18px;
  margin-top: 35px;
}
.main__vector-1 {
  position: absolute;
  margin-top: -77px;
}
.main__vector-2 {
  position: absolute;
  margin-top: -77px;
  margin-left: 160px;
}
.title {
  background-color: #ffffff;
  position: relative;
}
.main-header {
  background-color: #ffffff;
  color: #000000;
  width: 320px;
  position: relative;
  display: flex;
  height: 56px;
}
.main-header__logo {
  height: 96px;
  display: flex;
  left: 67.125px;
  position: relative;
}
.advantages {
  margin-top: 32px;
}
.advantages__section {
  padding: 0;
  margin-top: 101px;
}
.advantages__sublist {
  background-color: #ffffff;
  color: #000000;
  list-style: none;
  padding: 0;
  height: 416px;
  margin-top: -32px;
}
.advantages__item--large {
  color: #ffffff;
  width: 320px;
  height: 211px;
  background-color: #81b3d2;
  margin-top: 51px;
}
.advantages__number {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  position: relative;
  top: 48px;
  margin-left: 135px;
}
.advantages__number-2 {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  position: relative;
  top: -3px;
  margin-left: 135px;
}
.advantages__image {
  background-color: #ffffff;
}
.advantages__list {
  background-color: #eeeeee;
  font-family: inherit;
  width: 320px;
  list-style: none;
  padding: 0;
}
.advantages__title {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  top: 55px;
  margin-left: 67px;
}
.advantages__subtitle {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin-top: 65px;
  margin-left: 18px;
  width: 284px;
}
.advantages__subtitle-2 {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin-top: 13px;
  margin-left: 18px;
  width: 284px;
}
.advantages__title-more {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  margin-left: 65px;
  margin-top: -2px;
}
.advantages__subtitle-more {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  width: 237px;
  color: #333333;
  margin-left: 65px;
  margin-top: -2px;
}
.advantages__hotel {
  margin-top: 56px;
  margin-left: 65px;
}
.advantages__food {
  margin-top: 52px;
  margin-left: 65px;
}
.advantages__souvenire {
  margin-top: 31px;
  margin-left: 65px;
}
.advantages__item {
  margin-top: -70px;
}
.advantages__title-2 {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  padding-top: 37.5px;
  margin-left: 54px;
  margin-bottom: 0;
  margin-top: 38px;
}
.advantages__vector-1 {
  margin-top: -16px;
  position: absolute;
}
.advantages__image-2 {
  margin-top: -20px;
}
.advantages__subitem {
  margin-top: -29px;
  height: 115px;
}
.advantages__title-3 {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  margin: 0;
  top: 19px;
  position: relative;
}
.advantages__subtitle-3 {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  width: 246px;
  color: #333333;
  text-align: center;
  margin: 0;
  margin-left: 37px;
  top: 10px;
  position: relative;
}
.advantages__item-3 {
  height: 165px;
}
.advantages__list-2 {
  background-color: #eeeeee;
  font-family: inherit;
  width: 320px;
  height: 503px;
  list-style: none;
  padding: 0;
}
.advantages__number-3 {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  position: relative;
  margin-top: 23px;
  top: 7px;
  margin-left: 135px;
}
.main-footer {
  background-color: #ffffff;
  position: relative;
  width: 320px;
  height: 233px;
  top: -21px;
}
.main-footer__copyright {
  position: relative;
  top: 54px;
  left: 96px;
}
.interesting {
  background-color: #ffffff;
  margin-top: -25px;
}
.interesting__wrapper {
  height: 270px;
}
.interesting__title {
  position: relative;
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  align-items: center;
  text-transform: uppercase;
  margin-left: 56px;
  top: 39px;
}
.interesting__discription {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  top: 41px;
  margin-left: 29px;
  width: 262px;
}
.interesting__button {
  width: 284px;
  height: 58px;
  background-color: #81b3d2;
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  align-items: center;
  text-transform: uppercase;
  color: #ffffff;
  padding: 15.5px 49.3px;
  top: 76px;
  position: relative;
  margin-left: 18px;
  text-decoration: none;
}
.hashtag {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  align-items: center;
  text-transform: uppercase;
  color: #000000;
  position: relative;
  left: 92px;
}
.main-footer__hashtag {
  width: 166px;
  position: relative;
  top: 30px;
}
.social__youtube {
  background: #81b3d2;
  padding: 17px 14px;
}
.social__telegram {
  background: #81b3d2;
  padding: 15px 13px;
}
.social__vkontakte {
  background: #81b3d2;
  padding: 17px 12px;
}
.social__list {
  display: flex;
  position: relative;
  top: 42px;
  left: 42px;
  list-style: none;
}
.social__item {
  position: relative;
  height: 48px;
  margin-right: 6px;
}
.copyright__text {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  text-transform: uppercase;
  color: #000000;
}
.copyright__htmlacademy {
  position: relative;
  top: 12px;
  left: 8px;
}
.site-list__item {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  text-transform: uppercase;
}
.site-list a {
  position: relative;
  display: block;
  padding: 18px 21px;
  padding-bottom: 13px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 0px 1px 0px rgba(1, 1, 1, 0.2);
}
.background-images {
  background-image: url(../img/back-mobile.jpg);
  background-repeat: no-repeat;
  width: 320px;
  height: 389px;
}
.background-images-catalog {
  background-image: url(../img/back-catalog.jpg);
  background-repeat: no-repeat;
  width: 320px;
  height: 389px;
  margin-top: -56px;
}
.background-images-form {
  background-image: url(../img/back-catalog.jpg);
  background-repeat: no-repeat;
  width: 320px;
  height: 214px;
  margin-top: -56px;
}
.img {
  position: relative;
  left: 19px;
  top: 90px;
}
.img-catalog {
  position: relative;
  top: 108px;
  left: 45px;
}
.img-form {
  position: relative;
  top: 108px;
  left: 45px;
}
.feedback__form {
  background-color: #ffffff;
}
.feedback__title-name {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  position: relative;
  top: 11px;
}
.feedback__title-more {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  text-transform: uppercase;
  color: #333333;
  position: relative;
  top: 12px;
  left: 36px;
}
.feedback__name {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  color: #000000;
  position: relative;
  top: 10px;
  left: 20px;
}
.feedback__item-name {
  height: 95px;
}
.feedback__group-name {
  height: 310px;
  margin: 0;
  padding: 0;
}
.feedback__input {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border: none;
  height: 55px;
  width: 262px;
  padding-left: 16px;
  padding-top: 2px;
  background: #f2f2f2;
}
.feedback__title-contact {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  position: relative;
  top: 25px;
}
.feedback__contact {
  height: 278px;
}
.feedback__phone {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  text-transform: uppercase;
  color: #333333;
  text-align: center;
  position: relative;
  top: -5px;
  left: 36px;
}
.feedback__phone-form {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  color: rgba(0, 0, 0, 0.3);
}
.feedback__phone-input {
  display: flex;
  flex-direction: row;
  border: none;
  align-items: flex-start;
  background: #f2f2f2;
  height: 56px;
  width: 204px;
  position: relative;
  top: -6.5px;
  left: 20px;
  padding-left: 16px;
}
.feedback__phone-image {
  position: relative;
  left: 242px;
  top: -64.5px;
  padding: 20px 20px;
  background-color: #e6e6e6;
}
.feedback__email {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  text-transform: uppercase;
  color: #333333;
  text-align: center;
  position: relative;
  top: -22px;
  left: 36px;
}
.feedback__email-form {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  color: rgba(0, 0, 0, 0.3);
}
.feedback__email-input {
  display: flex;
  flex-direction: row;
  border: none;
  align-items: flex-start;
  background: #f2f2f2;
  height: 56px;
  width: 204px;
  position: relative;
  top: -23.5px;
  left: 20px;
  padding-left: 16px;
}
.feedback__email-image {
  position: relative;
  left: 242px;
  top: -81.5px;
  padding: 23px 21px;
  background-color: #e6e6e6;
}
.feedback__impression-fieldset {
  border: none;
  height: 205px;
}
.feedback__item-impression {
  margin-top: 11px;
}
.feedback__title-impression {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  position: relative;
  top: 24px;
}
.feedback__list-impression {
  list-style: none;
}
.feedback__title-visited {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  text-transform: uppercase;
  color: #000000;
}
.feedback__visited-fieldset {
  border: none;
}
.feedback__list-visited {
  list-style: none;
}
.feedback {
  background-color: #ffffff;
  height: 162px;
}
.feedback__title {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  position: relative;
  top: 2px;
}
.feedback__discription {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  text-transform: uppercase;
  color: #333333;
  text-align: center;
  position: relative;
  top: 10px;
}
.feedback__title-emotion {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  position: relative;
  top: -6px;
}
.feedback__item-contact {
  height: 95px;
  padding-top: 17px;
}
.feedback__list-contact {
  margin: 0;
  padding: 0;
}
.feedback__group-contact {
  position: relative;
  top: 13px;
}
.feedback__emotion {
  height: 351px;
}
.visited__name {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  color: #000000;
  position: relative;
  top: -7px;
  left: -23px;
}
.visited__checkbox {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  vertical-align: middle;
  margin-top: 5px;
  border-radius: 4px;
  top: -12px;
  left: -35px;
}
.visited__checkbox::before {
  content: '';
  display: inline-block;
  background-image: url("../img/tick.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  width: 22px;
  height: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
}
.visited__checkbox-real:checked + .visited__checkbox::before {
  transform: translate(-50%, -50%) scale(1);
}
.visited__checkbox-real {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.emotion__textarea {
  background: #f2f2f2;
  border: none;
  width: 246px;
  height: 117px;
  resize: none;
  outline: none;
  position: relative;
  left: 20px;
}
.emotion__text {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.3);
  padding: 16.5px;
}
.emotion__button {
  background-color: #81b3d2;
  border: none;
  padding: 15.5px 49px;
  position: relative;
  top: 48px;
  left: 20px;
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 27px;
  align-items: center;
  text-transform: uppercase;
  color: #ffffff;
}
.emotion__more {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 21px;
  align-items: center;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.6);
  position: relative;
  top: 38px;
  left: 163px;
}
.impression__radio {
  position: relative;
  display: inline-block;
  background-color: #f2f2f2;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  margin-right: 8px;
  margin-left: -35px;
  margin-top: 5px;
  vertical-align: middle;
}
.impression__radio::before {
  content: '';
  display: inline-block;
  background: #333333;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.impression__radio-real:checked + .impression__radio::before {
  display: block;
}
.impression__radio-real {
  display: none;
}
.impression__name {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  color: #000000;
  text-align: center;
  position: relative;
  top: 6px;
  left: 4px;
}
.photo {
  background-color: #ffffff;
  position: relative;
  top: -172px;
}
.photo__link {
  position: relative;
  left: 21px;
  top: 0px;
}
.photo__title {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  position: relative;
  top: 7px;
  left: 20px;
}
.photo__discription {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  position: relative;
  top: -6px;
  left: 20px;
}
.photo__like {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
}
.photo__link-like {
  position: relative;
  top: -4px;
  left: 57px;
}
.photo__list {
  position: relative;
  height: 425px;
  top: 0px;
  left: -1px;
}
.video__title {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  position: relative;
  top: 10px;
  left: 56px;
}
.video__discription {
  width: 266px;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  position: relative;
  top: 22px;
  left: 28px;
}
.video__image {
  position: relative;
  top: 46px;
  left: 20px;
}
.video {
  margin-top: -204px;
  height: 341px;
}
.catalog {
  background-color: #ffffff;
  top: -210px;
  position: relative;
  height: 175px;
}
.catalog__title {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  position: relative;
  top: 39px;
}
.catalog__discription {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  text-transform: uppercase;
  color: #333333;
  position: relative;
  text-align: center;
  top: 48px;
  left: 20px;
  width: 280px;
}
/*# sourceMappingURL=style.css.map */
